/*
Reward Cloud

It is an API for Reward Cloud project in ITG Commerce

API version: v0.6.0-alpha
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package rewardcloud

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)

// EnvironmentAccessApiService EnvironmentAccessApi service
type EnvironmentAccessApiService service

type EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest struct {
	ctx          context.Context
	ApiService   *EnvironmentAccessApiService
	page         *int32
	itemsPerPage *int32
	environment  *string
	environment2 *[]string
	frontend     *string
	frontend2    *[]string
	backend      *string
	backend2     *[]string
	database     *string
	database2    *[]string
	devTools     *string
	devTools2    *[]string
	redis        *string
	redis2       *[]string
	rabbit       *string
	rabbit2      *[]string
}

// The collection page number
func (r EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest) Page(page int32) EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest {
	r.page = &page
	return r
}

// The number of items per page
func (r EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest) ItemsPerPage(itemsPerPage int32) EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest {
	r.itemsPerPage = &itemsPerPage
	return r
}

func (r EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest) Environment(environment string) EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest {
	r.environment = &environment
	return r
}

func (r EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest) Environment2(environment2 []string) EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest {
	r.environment2 = &environment2
	return r
}

func (r EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest) Frontend(frontend string) EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest {
	r.frontend = &frontend
	return r
}

func (r EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest) Frontend2(frontend2 []string) EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest {
	r.frontend2 = &frontend2
	return r
}

func (r EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest) Backend(backend string) EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest {
	r.backend = &backend
	return r
}

func (r EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest) Backend2(backend2 []string) EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest {
	r.backend2 = &backend2
	return r
}

func (r EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest) Database(database string) EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest {
	r.database = &database
	return r
}

func (r EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest) Database2(database2 []string) EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest {
	r.database2 = &database2
	return r
}

func (r EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest) DevTools(devTools string) EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest {
	r.devTools = &devTools
	return r
}

func (r EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest) DevTools2(devTools2 []string) EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest {
	r.devTools2 = &devTools2
	return r
}

func (r EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest) Redis(redis string) EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest {
	r.redis = &redis
	return r
}

func (r EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest) Redis2(redis2 []string) EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest {
	r.redis2 = &redis2
	return r
}

func (r EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest) Rabbit(rabbit string) EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest {
	r.rabbit = &rabbit
	return r
}

func (r EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest) Rabbit2(rabbit2 []string) EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest {
	r.rabbit2 = &rabbit2
	return r
}

func (r EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest) Execute() ([]EnvironmentAccess, *http.Response, error) {
	return r.ApiService.ApiEnvironmentAccessesGetCollectionExecute(r)
}

/*
ApiEnvironmentAccessesGetCollection Retrieves the collection of EnvironmentAccess resources.

Retrieves the collection of EnvironmentAccess resources.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest
*/
func (a *EnvironmentAccessApiService) ApiEnvironmentAccessesGetCollection(ctx context.Context) EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest {
	return EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []EnvironmentAccess
func (a *EnvironmentAccessApiService) ApiEnvironmentAccessesGetCollectionExecute(r EnvironmentAccessApiApiEnvironmentAccessesGetCollectionRequest) ([]EnvironmentAccess, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []EnvironmentAccess
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnvironmentAccessApiService.ApiEnvironmentAccessesGetCollection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/environment_accesses"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.itemsPerPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemsPerPage", r.itemsPerPage, "")
	}
	if r.environment != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "environment", r.environment, "")
	}
	if r.environment2 != nil {
		t := *r.environment2
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "environment[]", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "environment[]", t, "multi")
		}
	}
	if r.frontend != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "frontend", r.frontend, "")
	}
	if r.frontend2 != nil {
		t := *r.frontend2
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "frontend[]", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "frontend[]", t, "multi")
		}
	}
	if r.backend != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "backend", r.backend, "")
	}
	if r.backend2 != nil {
		t := *r.backend2
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "backend[]", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "backend[]", t, "multi")
		}
	}
	if r.database != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "database", r.database, "")
	}
	if r.database2 != nil {
		t := *r.database2
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "database[]", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "database[]", t, "multi")
		}
	}
	if r.devTools != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "devTools", r.devTools, "")
	}
	if r.devTools2 != nil {
		t := *r.devTools2
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "devTools[]", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "devTools[]", t, "multi")
		}
	}
	if r.redis != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "redis", r.redis, "")
	}
	if r.redis2 != nil {
		t := *r.redis2
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "redis[]", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "redis[]", t, "multi")
		}
	}
	if r.rabbit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rabbit", r.rabbit, "")
	}
	if r.rabbit2 != nil {
		t := *r.rabbit2
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "rabbit[]", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "rabbit[]", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.api+json", "application/json", "application/xml", "text/xml", "application/x-yaml", "text/csv", "text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EnvironmentAccessApiApiEnvironmentAccessesIdDeleteRequest struct {
	ctx        context.Context
	ApiService *EnvironmentAccessApiService
	id         string
}

func (r EnvironmentAccessApiApiEnvironmentAccessesIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiEnvironmentAccessesIdDeleteExecute(r)
}

/*
ApiEnvironmentAccessesIdDelete Removes the EnvironmentAccess resource.

Removes the EnvironmentAccess resource.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id EnvironmentAccess identifier
	@return EnvironmentAccessApiApiEnvironmentAccessesIdDeleteRequest
*/
func (a *EnvironmentAccessApiService) ApiEnvironmentAccessesIdDelete(ctx context.Context, id string) EnvironmentAccessApiApiEnvironmentAccessesIdDeleteRequest {
	return EnvironmentAccessApiApiEnvironmentAccessesIdDeleteRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *EnvironmentAccessApiService) ApiEnvironmentAccessesIdDeleteExecute(r EnvironmentAccessApiApiEnvironmentAccessesIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnvironmentAccessApiService.ApiEnvironmentAccessesIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/environment_accesses/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type EnvironmentAccessApiApiEnvironmentAccessesIdGetRequest struct {
	ctx        context.Context
	ApiService *EnvironmentAccessApiService
	id         string
}

func (r EnvironmentAccessApiApiEnvironmentAccessesIdGetRequest) Execute() (*EnvironmentAccess, *http.Response, error) {
	return r.ApiService.ApiEnvironmentAccessesIdGetExecute(r)
}

/*
ApiEnvironmentAccessesIdGet Retrieves a EnvironmentAccess resource.

Retrieves a EnvironmentAccess resource.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id EnvironmentAccess identifier
	@return EnvironmentAccessApiApiEnvironmentAccessesIdGetRequest
*/
func (a *EnvironmentAccessApiService) ApiEnvironmentAccessesIdGet(ctx context.Context, id string) EnvironmentAccessApiApiEnvironmentAccessesIdGetRequest {
	return EnvironmentAccessApiApiEnvironmentAccessesIdGetRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return EnvironmentAccess
func (a *EnvironmentAccessApiService) ApiEnvironmentAccessesIdGetExecute(r EnvironmentAccessApiApiEnvironmentAccessesIdGetRequest) (*EnvironmentAccess, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EnvironmentAccess
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnvironmentAccessApiService.ApiEnvironmentAccessesIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/environment_accesses/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.api+json", "application/json", "application/xml", "text/xml", "application/x-yaml", "text/csv", "text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EnvironmentAccessApiApiEnvironmentAccessesIdPatchRequest struct {
	ctx               context.Context
	ApiService        *EnvironmentAccessApiService
	environmentAccess *EnvironmentAccess
	id                string
}

// The updated EnvironmentAccess resource
func (r EnvironmentAccessApiApiEnvironmentAccessesIdPatchRequest) EnvironmentAccess(environmentAccess EnvironmentAccess) EnvironmentAccessApiApiEnvironmentAccessesIdPatchRequest {
	r.environmentAccess = &environmentAccess
	return r
}

func (r EnvironmentAccessApiApiEnvironmentAccessesIdPatchRequest) Execute() (*EnvironmentAccess, *http.Response, error) {
	return r.ApiService.ApiEnvironmentAccessesIdPatchExecute(r)
}

/*
ApiEnvironmentAccessesIdPatch Updates the EnvironmentAccess resource.

Updates the EnvironmentAccess resource.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id EnvironmentAccess identifier
	@return EnvironmentAccessApiApiEnvironmentAccessesIdPatchRequest
*/
func (a *EnvironmentAccessApiService) ApiEnvironmentAccessesIdPatch(ctx context.Context, id string) EnvironmentAccessApiApiEnvironmentAccessesIdPatchRequest {
	return EnvironmentAccessApiApiEnvironmentAccessesIdPatchRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return EnvironmentAccess
func (a *EnvironmentAccessApiService) ApiEnvironmentAccessesIdPatchExecute(r EnvironmentAccessApiApiEnvironmentAccessesIdPatchRequest) (*EnvironmentAccess, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EnvironmentAccess
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnvironmentAccessApiService.ApiEnvironmentAccessesIdPatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/environment_accesses/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.environmentAccess == nil {
		return localVarReturnValue, nil, reportError("environmentAccess is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/merge-patch+json", "application/vnd.api+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.api+json", "application/json", "application/xml", "text/xml", "application/x-yaml", "text/csv", "text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.environmentAccess
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EnvironmentAccessApiApiEnvironmentAccessesIdPutRequest struct {
	ctx               context.Context
	ApiService        *EnvironmentAccessApiService
	environmentAccess *EnvironmentAccess
	id                string
}

// The updated EnvironmentAccess resource
func (r EnvironmentAccessApiApiEnvironmentAccessesIdPutRequest) EnvironmentAccess(environmentAccess EnvironmentAccess) EnvironmentAccessApiApiEnvironmentAccessesIdPutRequest {
	r.environmentAccess = &environmentAccess
	return r
}

func (r EnvironmentAccessApiApiEnvironmentAccessesIdPutRequest) Execute() (*EnvironmentAccess, *http.Response, error) {
	return r.ApiService.ApiEnvironmentAccessesIdPutExecute(r)
}

/*
ApiEnvironmentAccessesIdPut Replaces the EnvironmentAccess resource.

Replaces the EnvironmentAccess resource.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id EnvironmentAccess identifier
	@return EnvironmentAccessApiApiEnvironmentAccessesIdPutRequest
*/
func (a *EnvironmentAccessApiService) ApiEnvironmentAccessesIdPut(ctx context.Context, id string) EnvironmentAccessApiApiEnvironmentAccessesIdPutRequest {
	return EnvironmentAccessApiApiEnvironmentAccessesIdPutRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return EnvironmentAccess
func (a *EnvironmentAccessApiService) ApiEnvironmentAccessesIdPutExecute(r EnvironmentAccessApiApiEnvironmentAccessesIdPutRequest) (*EnvironmentAccess, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EnvironmentAccess
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnvironmentAccessApiService.ApiEnvironmentAccessesIdPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/environment_accesses/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.environmentAccess == nil {
		return localVarReturnValue, nil, reportError("environmentAccess is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/vnd.api+json", "application/json", "application/xml", "text/xml", "application/x-yaml", "text/csv", "text/html"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.api+json", "application/json", "application/xml", "text/xml", "application/x-yaml", "text/csv", "text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.environmentAccess
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EnvironmentAccessApiApiEnvironmentAccessesIdallDataGetRequest struct {
	ctx        context.Context
	ApiService *EnvironmentAccessApiService
	id         string
}

func (r EnvironmentAccessApiApiEnvironmentAccessesIdallDataGetRequest) Execute() (*EnvironmentAccess, *http.Response, error) {
	return r.ApiService.ApiEnvironmentAccessesIdallDataGetExecute(r)
}

/*
ApiEnvironmentAccessesIdallDataGet Retrieves a EnvironmentAccess resource.

Retrieves a EnvironmentAccess resource.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id EnvironmentAccess identifier
	@return EnvironmentAccessApiApiEnvironmentAccessesIdallDataGetRequest
*/
func (a *EnvironmentAccessApiService) ApiEnvironmentAccessesIdallDataGet(ctx context.Context, id string) EnvironmentAccessApiApiEnvironmentAccessesIdallDataGetRequest {
	return EnvironmentAccessApiApiEnvironmentAccessesIdallDataGetRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return EnvironmentAccess
func (a *EnvironmentAccessApiService) ApiEnvironmentAccessesIdallDataGetExecute(r EnvironmentAccessApiApiEnvironmentAccessesIdallDataGetRequest) (*EnvironmentAccess, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EnvironmentAccess
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnvironmentAccessApiService.ApiEnvironmentAccessesIdallDataGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/environment_accesses/{id}/all-data"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.api+json", "application/json", "application/xml", "text/xml", "application/x-yaml", "text/csv", "text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EnvironmentAccessApiApiEnvironmentAccessesPostRequest struct {
	ctx               context.Context
	ApiService        *EnvironmentAccessApiService
	environmentAccess *EnvironmentAccess
}

// The new EnvironmentAccess resource
func (r EnvironmentAccessApiApiEnvironmentAccessesPostRequest) EnvironmentAccess(environmentAccess EnvironmentAccess) EnvironmentAccessApiApiEnvironmentAccessesPostRequest {
	r.environmentAccess = &environmentAccess
	return r
}

func (r EnvironmentAccessApiApiEnvironmentAccessesPostRequest) Execute() (*EnvironmentAccess, *http.Response, error) {
	return r.ApiService.ApiEnvironmentAccessesPostExecute(r)
}

/*
ApiEnvironmentAccessesPost Creates a EnvironmentAccess resource.

Creates a EnvironmentAccess resource.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EnvironmentAccessApiApiEnvironmentAccessesPostRequest
*/
func (a *EnvironmentAccessApiService) ApiEnvironmentAccessesPost(ctx context.Context) EnvironmentAccessApiApiEnvironmentAccessesPostRequest {
	return EnvironmentAccessApiApiEnvironmentAccessesPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EnvironmentAccess
func (a *EnvironmentAccessApiService) ApiEnvironmentAccessesPostExecute(r EnvironmentAccessApiApiEnvironmentAccessesPostRequest) (*EnvironmentAccess, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EnvironmentAccess
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnvironmentAccessApiService.ApiEnvironmentAccessesPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/environment_accesses"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.environmentAccess == nil {
		return localVarReturnValue, nil, reportError("environmentAccess is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/vnd.api+json", "application/json", "application/xml", "text/xml", "application/x-yaml", "text/csv", "text/html"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.api+json", "application/json", "application/xml", "text/xml", "application/x-yaml", "text/csv", "text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.environmentAccess
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
