/*
Reward Cloud

It is an API for Reward Cloud project in ITG Commerce

API version: v0.7.0-alpha
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package rewardcloud

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)

// OrganisationEnvVarApiService OrganisationEnvVarApi service
type OrganisationEnvVarApiService service

type OrganisationEnvVarApiApiOrganisationEnvVarsGetCollectionRequest struct {
	ctx           context.Context
	ApiService    *OrganisationEnvVarApiService
	page          *int32
	itemsPerPage  *int32
	organisation  *string
	organisation2 *[]string
	envVarType    *string
	envVarType2   *[]string
}

// The collection page number
func (r OrganisationEnvVarApiApiOrganisationEnvVarsGetCollectionRequest) Page(page int32) OrganisationEnvVarApiApiOrganisationEnvVarsGetCollectionRequest {
	r.page = &page
	return r
}

// The number of items per page
func (r OrganisationEnvVarApiApiOrganisationEnvVarsGetCollectionRequest) ItemsPerPage(itemsPerPage int32) OrganisationEnvVarApiApiOrganisationEnvVarsGetCollectionRequest {
	r.itemsPerPage = &itemsPerPage
	return r
}

func (r OrganisationEnvVarApiApiOrganisationEnvVarsGetCollectionRequest) Organisation(organisation string) OrganisationEnvVarApiApiOrganisationEnvVarsGetCollectionRequest {
	r.organisation = &organisation
	return r
}

func (r OrganisationEnvVarApiApiOrganisationEnvVarsGetCollectionRequest) Organisation2(organisation2 []string) OrganisationEnvVarApiApiOrganisationEnvVarsGetCollectionRequest {
	r.organisation2 = &organisation2
	return r
}

func (r OrganisationEnvVarApiApiOrganisationEnvVarsGetCollectionRequest) EnvVarType(envVarType string) OrganisationEnvVarApiApiOrganisationEnvVarsGetCollectionRequest {
	r.envVarType = &envVarType
	return r
}

func (r OrganisationEnvVarApiApiOrganisationEnvVarsGetCollectionRequest) EnvVarType2(envVarType2 []string) OrganisationEnvVarApiApiOrganisationEnvVarsGetCollectionRequest {
	r.envVarType2 = &envVarType2
	return r
}

func (r OrganisationEnvVarApiApiOrganisationEnvVarsGetCollectionRequest) Execute() ([]OrganisationEnvVar, *http.Response, error) {
	return r.ApiService.ApiOrganisationEnvVarsGetCollectionExecute(r)
}

/*
ApiOrganisationEnvVarsGetCollection Retrieves the collection of OrganisationEnvVar resources.

Retrieves the collection of OrganisationEnvVar resources.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return OrganisationEnvVarApiApiOrganisationEnvVarsGetCollectionRequest
*/
func (a *OrganisationEnvVarApiService) ApiOrganisationEnvVarsGetCollection(ctx context.Context) OrganisationEnvVarApiApiOrganisationEnvVarsGetCollectionRequest {
	return OrganisationEnvVarApiApiOrganisationEnvVarsGetCollectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []OrganisationEnvVar
func (a *OrganisationEnvVarApiService) ApiOrganisationEnvVarsGetCollectionExecute(r OrganisationEnvVarApiApiOrganisationEnvVarsGetCollectionRequest) ([]OrganisationEnvVar, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []OrganisationEnvVar
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganisationEnvVarApiService.ApiOrganisationEnvVarsGetCollection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/organisation_env_vars"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.itemsPerPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemsPerPage", r.itemsPerPage, "")
	}
	if r.organisation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "organisation", r.organisation, "")
	}
	if r.organisation2 != nil {
		t := *r.organisation2
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "organisation[]", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "organisation[]", t, "multi")
		}
	}
	if r.envVarType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "envVarType", r.envVarType, "")
	}
	if r.envVarType2 != nil {
		t := *r.envVarType2
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "envVarType[]", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "envVarType[]", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrganisationEnvVarApiApiOrganisationEnvVarsIdDeleteRequest struct {
	ctx        context.Context
	ApiService *OrganisationEnvVarApiService
	id         string
}

func (r OrganisationEnvVarApiApiOrganisationEnvVarsIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiOrganisationEnvVarsIdDeleteExecute(r)
}

/*
ApiOrganisationEnvVarsIdDelete Removes the OrganisationEnvVar resource.

Removes the OrganisationEnvVar resource.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id OrganisationEnvVar identifier
	@return OrganisationEnvVarApiApiOrganisationEnvVarsIdDeleteRequest
*/
func (a *OrganisationEnvVarApiService) ApiOrganisationEnvVarsIdDelete(ctx context.Context, id string) OrganisationEnvVarApiApiOrganisationEnvVarsIdDeleteRequest {
	return OrganisationEnvVarApiApiOrganisationEnvVarsIdDeleteRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *OrganisationEnvVarApiService) ApiOrganisationEnvVarsIdDeleteExecute(r OrganisationEnvVarApiApiOrganisationEnvVarsIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganisationEnvVarApiService.ApiOrganisationEnvVarsIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/organisation_env_vars/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type OrganisationEnvVarApiApiOrganisationEnvVarsIdGetRequest struct {
	ctx        context.Context
	ApiService *OrganisationEnvVarApiService
	id         string
}

func (r OrganisationEnvVarApiApiOrganisationEnvVarsIdGetRequest) Execute() (*OrganisationEnvVar, *http.Response, error) {
	return r.ApiService.ApiOrganisationEnvVarsIdGetExecute(r)
}

/*
ApiOrganisationEnvVarsIdGet Retrieves a OrganisationEnvVar resource.

Retrieves a OrganisationEnvVar resource.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id OrganisationEnvVar identifier
	@return OrganisationEnvVarApiApiOrganisationEnvVarsIdGetRequest
*/
func (a *OrganisationEnvVarApiService) ApiOrganisationEnvVarsIdGet(ctx context.Context, id string) OrganisationEnvVarApiApiOrganisationEnvVarsIdGetRequest {
	return OrganisationEnvVarApiApiOrganisationEnvVarsIdGetRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return OrganisationEnvVar
func (a *OrganisationEnvVarApiService) ApiOrganisationEnvVarsIdGetExecute(r OrganisationEnvVarApiApiOrganisationEnvVarsIdGetRequest) (*OrganisationEnvVar, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrganisationEnvVar
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganisationEnvVarApiService.ApiOrganisationEnvVarsIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/organisation_env_vars/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrganisationEnvVarApiApiOrganisationEnvVarsIdPatchRequest struct {
	ctx                context.Context
	ApiService         *OrganisationEnvVarApiService
	organisationEnvVar *OrganisationEnvVar
	id                 string
}

// The updated OrganisationEnvVar resource
func (r OrganisationEnvVarApiApiOrganisationEnvVarsIdPatchRequest) OrganisationEnvVar(organisationEnvVar OrganisationEnvVar) OrganisationEnvVarApiApiOrganisationEnvVarsIdPatchRequest {
	r.organisationEnvVar = &organisationEnvVar
	return r
}

func (r OrganisationEnvVarApiApiOrganisationEnvVarsIdPatchRequest) Execute() (*OrganisationEnvVar, *http.Response, error) {
	return r.ApiService.ApiOrganisationEnvVarsIdPatchExecute(r)
}

/*
ApiOrganisationEnvVarsIdPatch Updates the OrganisationEnvVar resource.

Updates the OrganisationEnvVar resource.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id OrganisationEnvVar identifier
	@return OrganisationEnvVarApiApiOrganisationEnvVarsIdPatchRequest
*/
func (a *OrganisationEnvVarApiService) ApiOrganisationEnvVarsIdPatch(ctx context.Context, id string) OrganisationEnvVarApiApiOrganisationEnvVarsIdPatchRequest {
	return OrganisationEnvVarApiApiOrganisationEnvVarsIdPatchRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return OrganisationEnvVar
func (a *OrganisationEnvVarApiService) ApiOrganisationEnvVarsIdPatchExecute(r OrganisationEnvVarApiApiOrganisationEnvVarsIdPatchRequest) (*OrganisationEnvVar, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrganisationEnvVar
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganisationEnvVarApiService.ApiOrganisationEnvVarsIdPatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/organisation_env_vars/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.organisationEnvVar == nil {
		return localVarReturnValue, nil, reportError("organisationEnvVar is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/merge-patch+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.organisationEnvVar
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrganisationEnvVarApiApiOrganisationEnvVarsIdPutRequest struct {
	ctx                context.Context
	ApiService         *OrganisationEnvVarApiService
	organisationEnvVar *OrganisationEnvVar
	id                 string
}

// The updated OrganisationEnvVar resource
func (r OrganisationEnvVarApiApiOrganisationEnvVarsIdPutRequest) OrganisationEnvVar(organisationEnvVar OrganisationEnvVar) OrganisationEnvVarApiApiOrganisationEnvVarsIdPutRequest {
	r.organisationEnvVar = &organisationEnvVar
	return r
}

func (r OrganisationEnvVarApiApiOrganisationEnvVarsIdPutRequest) Execute() (*OrganisationEnvVar, *http.Response, error) {
	return r.ApiService.ApiOrganisationEnvVarsIdPutExecute(r)
}

/*
ApiOrganisationEnvVarsIdPut Replaces the OrganisationEnvVar resource.

Replaces the OrganisationEnvVar resource.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id OrganisationEnvVar identifier
	@return OrganisationEnvVarApiApiOrganisationEnvVarsIdPutRequest
*/
func (a *OrganisationEnvVarApiService) ApiOrganisationEnvVarsIdPut(ctx context.Context, id string) OrganisationEnvVarApiApiOrganisationEnvVarsIdPutRequest {
	return OrganisationEnvVarApiApiOrganisationEnvVarsIdPutRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return OrganisationEnvVar
func (a *OrganisationEnvVarApiService) ApiOrganisationEnvVarsIdPutExecute(r OrganisationEnvVarApiApiOrganisationEnvVarsIdPutRequest) (*OrganisationEnvVar, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrganisationEnvVar
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganisationEnvVarApiService.ApiOrganisationEnvVarsIdPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/organisation_env_vars/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.organisationEnvVar == nil {
		return localVarReturnValue, nil, reportError("organisationEnvVar is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/html"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.organisationEnvVar
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type OrganisationEnvVarApiApiOrganisationEnvVarsPostRequest struct {
	ctx                context.Context
	ApiService         *OrganisationEnvVarApiService
	organisationEnvVar *OrganisationEnvVar
}

// The new OrganisationEnvVar resource
func (r OrganisationEnvVarApiApiOrganisationEnvVarsPostRequest) OrganisationEnvVar(organisationEnvVar OrganisationEnvVar) OrganisationEnvVarApiApiOrganisationEnvVarsPostRequest {
	r.organisationEnvVar = &organisationEnvVar
	return r
}

func (r OrganisationEnvVarApiApiOrganisationEnvVarsPostRequest) Execute() (*OrganisationEnvVar, *http.Response, error) {
	return r.ApiService.ApiOrganisationEnvVarsPostExecute(r)
}

/*
ApiOrganisationEnvVarsPost Creates a OrganisationEnvVar resource.

Creates a OrganisationEnvVar resource.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return OrganisationEnvVarApiApiOrganisationEnvVarsPostRequest
*/
func (a *OrganisationEnvVarApiService) ApiOrganisationEnvVarsPost(ctx context.Context) OrganisationEnvVarApiApiOrganisationEnvVarsPostRequest {
	return OrganisationEnvVarApiApiOrganisationEnvVarsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return OrganisationEnvVar
func (a *OrganisationEnvVarApiService) ApiOrganisationEnvVarsPostExecute(r OrganisationEnvVarApiApiOrganisationEnvVarsPostRequest) (*OrganisationEnvVar, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrganisationEnvVar
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganisationEnvVarApiService.ApiOrganisationEnvVarsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/organisation_env_vars"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.organisationEnvVar == nil {
		return localVarReturnValue, nil, reportError("organisationEnvVar is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "text/html"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.organisationEnvVar
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
