/*
Reward Cloud

It is an API for Reward Cloud project in ITG Commerce

API version: v0.7.0-alpha
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package rewardcloud

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// ValidateEnvVarApiService ValidateEnvVarApi service
type ValidateEnvVarApiService service

type ValidateEnvVarApiPostValidateEnvVarRequest struct {
	ctx                       context.Context
	ApiService                *ValidateEnvVarApiService
	postValidateEnvVarRequest *PostValidateEnvVarRequest
}

// Let the system to check a word to validate by definition(s). Both are REQUIRED!
func (r ValidateEnvVarApiPostValidateEnvVarRequest) PostValidateEnvVarRequest(postValidateEnvVarRequest PostValidateEnvVarRequest) ValidateEnvVarApiPostValidateEnvVarRequest {
	r.postValidateEnvVarRequest = &postValidateEnvVarRequest
	return r
}

func (r ValidateEnvVarApiPostValidateEnvVarRequest) Execute() (*PostValidateEnvVar200Response, *http.Response, error) {
	return r.ApiService.PostValidateEnvVarExecute(r)
}

/*
PostValidateEnvVar It checks the validation of an environment variable definition

It will check a any EnvVar's definition validation by this entity. The entity can contain

	                   more than one validation. Then it will test all of them and reply w/ their messages.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ValidateEnvVarApiPostValidateEnvVarRequest
*/
func (a *ValidateEnvVarApiService) PostValidateEnvVar(ctx context.Context) ValidateEnvVarApiPostValidateEnvVarRequest {
	return ValidateEnvVarApiPostValidateEnvVarRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PostValidateEnvVar200Response
func (a *ValidateEnvVarApiService) PostValidateEnvVarExecute(r ValidateEnvVarApiPostValidateEnvVarRequest) (*PostValidateEnvVar200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PostValidateEnvVar200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ValidateEnvVarApiService.PostValidateEnvVar")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/env_var_validation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.postValidateEnvVarRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
