/*
Reward Cloud

It is an API for Reward Cloud project in ITG Commerce

API version: v0.6.0-alpha
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package rewardcloud

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)

// TemplateEnvironmentApiService TemplateEnvironmentApi service
type TemplateEnvironmentApiService service

type ApiApiTemplateEnvironmentsGetCollectionRequest struct {
	ctx              context.Context
	ApiService       *TemplateEnvironmentApiService
	page             *int32
	itemsPerPage     *int32
	id               *int32
	id2              *[]int32
	templateProject  *string
	templateProject2 *[]string
	orderUpdatedAt   *string
}

// The collection page number
func (r ApiApiTemplateEnvironmentsGetCollectionRequest) Page(page int32) ApiApiTemplateEnvironmentsGetCollectionRequest {
	r.page = &page
	return r
}

// The number of items per page
func (r ApiApiTemplateEnvironmentsGetCollectionRequest) ItemsPerPage(itemsPerPage int32) ApiApiTemplateEnvironmentsGetCollectionRequest {
	r.itemsPerPage = &itemsPerPage
	return r
}

func (r ApiApiTemplateEnvironmentsGetCollectionRequest) Id(id int32) ApiApiTemplateEnvironmentsGetCollectionRequest {
	r.id = &id
	return r
}

func (r ApiApiTemplateEnvironmentsGetCollectionRequest) Id2(id2 []int32) ApiApiTemplateEnvironmentsGetCollectionRequest {
	r.id2 = &id2
	return r
}

func (r ApiApiTemplateEnvironmentsGetCollectionRequest) TemplateProject(templateProject string) ApiApiTemplateEnvironmentsGetCollectionRequest {
	r.templateProject = &templateProject
	return r
}

func (r ApiApiTemplateEnvironmentsGetCollectionRequest) TemplateProject2(templateProject2 []string) ApiApiTemplateEnvironmentsGetCollectionRequest {
	r.templateProject2 = &templateProject2
	return r
}

func (r ApiApiTemplateEnvironmentsGetCollectionRequest) OrderUpdatedAt(orderUpdatedAt string) ApiApiTemplateEnvironmentsGetCollectionRequest {
	r.orderUpdatedAt = &orderUpdatedAt
	return r
}

func (r ApiApiTemplateEnvironmentsGetCollectionRequest) Execute() (*ApiTemplateEnvironmentsGetCollection200Response, *http.Response, error) {
	return r.ApiService.ApiTemplateEnvironmentsGetCollectionExecute(r)
}

/*
ApiTemplateEnvironmentsGetCollection Retrieves the collection of TemplateEnvironment resources.

Retrieves the collection of TemplateEnvironment resources.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiTemplateEnvironmentsGetCollectionRequest
*/
func (a *TemplateEnvironmentApiService) ApiTemplateEnvironmentsGetCollection(ctx context.Context) ApiApiTemplateEnvironmentsGetCollectionRequest {
	return ApiApiTemplateEnvironmentsGetCollectionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ApiTemplateEnvironmentsGetCollection200Response
func (a *TemplateEnvironmentApiService) ApiTemplateEnvironmentsGetCollectionExecute(r ApiApiTemplateEnvironmentsGetCollectionRequest) (*ApiTemplateEnvironmentsGetCollection200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ApiTemplateEnvironmentsGetCollection200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplateEnvironmentApiService.ApiTemplateEnvironmentsGetCollection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/template_environments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.itemsPerPage != nil {
		localVarQueryParams.Add("itemsPerPage", parameterToString(*r.itemsPerPage, ""))
	}
	if r.id != nil {
		localVarQueryParams.Add("id", parameterToString(*r.id, ""))
	}
	if r.id2 != nil {
		t := *r.id2
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				localVarQueryParams.Add("id[]", parameterToString(s.Index(i), "multi"))
			}
		} else {
			localVarQueryParams.Add("id[]", parameterToString(t, "multi"))
		}
	}
	if r.templateProject != nil {
		localVarQueryParams.Add("templateProject", parameterToString(*r.templateProject, ""))
	}
	if r.templateProject2 != nil {
		t := *r.templateProject2
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				localVarQueryParams.Add("templateProject[]", parameterToString(s.Index(i), "multi"))
			}
		} else {
			localVarQueryParams.Add("templateProject[]", parameterToString(t, "multi"))
		}
	}
	if r.orderUpdatedAt != nil {
		localVarQueryParams.Add("order[updatedAt]", parameterToString(*r.orderUpdatedAt, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/hal+json", "application/vnd.api+json", "application/json", "application/xml", "text/xml", "application/x-yaml", "text/csv", "text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiTemplateEnvironmentsIdDeleteRequest struct {
	ctx        context.Context
	ApiService *TemplateEnvironmentApiService
	id         string
}

func (r ApiApiTemplateEnvironmentsIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiTemplateEnvironmentsIdDeleteExecute(r)
}

/*
ApiTemplateEnvironmentsIdDelete Removes the TemplateEnvironment resource.

Removes the TemplateEnvironment resource.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id TemplateEnvironment identifier
	@return ApiApiTemplateEnvironmentsIdDeleteRequest
*/
func (a *TemplateEnvironmentApiService) ApiTemplateEnvironmentsIdDelete(ctx context.Context, id string) ApiApiTemplateEnvironmentsIdDeleteRequest {
	return ApiApiTemplateEnvironmentsIdDeleteRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *TemplateEnvironmentApiService) ApiTemplateEnvironmentsIdDeleteExecute(r ApiApiTemplateEnvironmentsIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplateEnvironmentApiService.ApiTemplateEnvironmentsIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/template_environments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiTemplateEnvironmentsIdGetRequest struct {
	ctx        context.Context
	ApiService *TemplateEnvironmentApiService
	id         string
}

func (r ApiApiTemplateEnvironmentsIdGetRequest) Execute() (*TemplateEnvironmentJsonhalTemplateEnvironmentOutput, *http.Response, error) {
	return r.ApiService.ApiTemplateEnvironmentsIdGetExecute(r)
}

/*
ApiTemplateEnvironmentsIdGet Retrieves a TemplateEnvironment resource.

Retrieves a TemplateEnvironment resource.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id TemplateEnvironment identifier
	@return ApiApiTemplateEnvironmentsIdGetRequest
*/
func (a *TemplateEnvironmentApiService) ApiTemplateEnvironmentsIdGet(ctx context.Context, id string) ApiApiTemplateEnvironmentsIdGetRequest {
	return ApiApiTemplateEnvironmentsIdGetRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return TemplateEnvironmentJsonhalTemplateEnvironmentOutput
func (a *TemplateEnvironmentApiService) ApiTemplateEnvironmentsIdGetExecute(r ApiApiTemplateEnvironmentsIdGetRequest) (*TemplateEnvironmentJsonhalTemplateEnvironmentOutput, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TemplateEnvironmentJsonhalTemplateEnvironmentOutput
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplateEnvironmentApiService.ApiTemplateEnvironmentsIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/template_environments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/hal+json", "application/vnd.api+json", "application/json", "application/xml", "text/xml", "application/x-yaml", "text/csv", "text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiTemplateEnvironmentsIdPatchRequest struct {
	ctx                                         context.Context
	ApiService                                  *TemplateEnvironmentApiService
	id                                          string
	templateEnvironmentTemplateEnvironmentInput *TemplateEnvironmentTemplateEnvironmentInput
}

// The updated TemplateEnvironment resource
func (r ApiApiTemplateEnvironmentsIdPatchRequest) TemplateEnvironmentTemplateEnvironmentInput(templateEnvironmentTemplateEnvironmentInput TemplateEnvironmentTemplateEnvironmentInput) ApiApiTemplateEnvironmentsIdPatchRequest {
	r.templateEnvironmentTemplateEnvironmentInput = &templateEnvironmentTemplateEnvironmentInput
	return r
}

func (r ApiApiTemplateEnvironmentsIdPatchRequest) Execute() (*TemplateEnvironmentJsonhalTemplateEnvironmentOutput, *http.Response, error) {
	return r.ApiService.ApiTemplateEnvironmentsIdPatchExecute(r)
}

/*
ApiTemplateEnvironmentsIdPatch Updates the TemplateEnvironment resource.

Updates the TemplateEnvironment resource.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id TemplateEnvironment identifier
	@return ApiApiTemplateEnvironmentsIdPatchRequest
*/
func (a *TemplateEnvironmentApiService) ApiTemplateEnvironmentsIdPatch(ctx context.Context, id string) ApiApiTemplateEnvironmentsIdPatchRequest {
	return ApiApiTemplateEnvironmentsIdPatchRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return TemplateEnvironmentJsonhalTemplateEnvironmentOutput
func (a *TemplateEnvironmentApiService) ApiTemplateEnvironmentsIdPatchExecute(r ApiApiTemplateEnvironmentsIdPatchRequest) (*TemplateEnvironmentJsonhalTemplateEnvironmentOutput, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TemplateEnvironmentJsonhalTemplateEnvironmentOutput
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplateEnvironmentApiService.ApiTemplateEnvironmentsIdPatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/template_environments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.templateEnvironmentTemplateEnvironmentInput == nil {
		return localVarReturnValue, nil, reportError("templateEnvironmentTemplateEnvironmentInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/vnd.api+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/hal+json", "application/vnd.api+json", "application/json", "application/xml", "text/xml", "application/x-yaml", "text/csv", "text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.templateEnvironmentTemplateEnvironmentInput
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiTemplateEnvironmentsIdPutRequest struct {
	ctx                                                context.Context
	ApiService                                         *TemplateEnvironmentApiService
	id                                                 string
	templateEnvironmentJsonhalTemplateEnvironmentInput *TemplateEnvironmentJsonhalTemplateEnvironmentInput
}

// The updated TemplateEnvironment resource
func (r ApiApiTemplateEnvironmentsIdPutRequest) TemplateEnvironmentJsonhalTemplateEnvironmentInput(templateEnvironmentJsonhalTemplateEnvironmentInput TemplateEnvironmentJsonhalTemplateEnvironmentInput) ApiApiTemplateEnvironmentsIdPutRequest {
	r.templateEnvironmentJsonhalTemplateEnvironmentInput = &templateEnvironmentJsonhalTemplateEnvironmentInput
	return r
}

func (r ApiApiTemplateEnvironmentsIdPutRequest) Execute() (*TemplateEnvironmentJsonhalTemplateEnvironmentOutput, *http.Response, error) {
	return r.ApiService.ApiTemplateEnvironmentsIdPutExecute(r)
}

/*
ApiTemplateEnvironmentsIdPut Replaces the TemplateEnvironment resource.

Replaces the TemplateEnvironment resource.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id TemplateEnvironment identifier
	@return ApiApiTemplateEnvironmentsIdPutRequest
*/
func (a *TemplateEnvironmentApiService) ApiTemplateEnvironmentsIdPut(ctx context.Context, id string) ApiApiTemplateEnvironmentsIdPutRequest {
	return ApiApiTemplateEnvironmentsIdPutRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return TemplateEnvironmentJsonhalTemplateEnvironmentOutput
func (a *TemplateEnvironmentApiService) ApiTemplateEnvironmentsIdPutExecute(r ApiApiTemplateEnvironmentsIdPutRequest) (*TemplateEnvironmentJsonhalTemplateEnvironmentOutput, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TemplateEnvironmentJsonhalTemplateEnvironmentOutput
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplateEnvironmentApiService.ApiTemplateEnvironmentsIdPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/template_environments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.templateEnvironmentJsonhalTemplateEnvironmentInput == nil {
		return localVarReturnValue, nil, reportError("templateEnvironmentJsonhalTemplateEnvironmentInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/hal+json", "application/vnd.api+json", "application/json", "application/xml", "text/xml", "application/x-yaml", "text/csv", "text/html"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/hal+json", "application/vnd.api+json", "application/json", "application/xml", "text/xml", "application/x-yaml", "text/csv", "text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.templateEnvironmentJsonhalTemplateEnvironmentInput
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiTemplateEnvironmentsPostRequest struct {
	ctx                                                context.Context
	ApiService                                         *TemplateEnvironmentApiService
	templateEnvironmentJsonhalTemplateEnvironmentInput *TemplateEnvironmentJsonhalTemplateEnvironmentInput
}

// The new TemplateEnvironment resource
func (r ApiApiTemplateEnvironmentsPostRequest) TemplateEnvironmentJsonhalTemplateEnvironmentInput(templateEnvironmentJsonhalTemplateEnvironmentInput TemplateEnvironmentJsonhalTemplateEnvironmentInput) ApiApiTemplateEnvironmentsPostRequest {
	r.templateEnvironmentJsonhalTemplateEnvironmentInput = &templateEnvironmentJsonhalTemplateEnvironmentInput
	return r
}

func (r ApiApiTemplateEnvironmentsPostRequest) Execute() (*TemplateEnvironmentJsonhalTemplateEnvironmentOutput, *http.Response, error) {
	return r.ApiService.ApiTemplateEnvironmentsPostExecute(r)
}

/*
ApiTemplateEnvironmentsPost Creates a TemplateEnvironment resource.

Creates a TemplateEnvironment resource.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApiTemplateEnvironmentsPostRequest
*/
func (a *TemplateEnvironmentApiService) ApiTemplateEnvironmentsPost(ctx context.Context) ApiApiTemplateEnvironmentsPostRequest {
	return ApiApiTemplateEnvironmentsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TemplateEnvironmentJsonhalTemplateEnvironmentOutput
func (a *TemplateEnvironmentApiService) ApiTemplateEnvironmentsPostExecute(r ApiApiTemplateEnvironmentsPostRequest) (*TemplateEnvironmentJsonhalTemplateEnvironmentOutput, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TemplateEnvironmentJsonhalTemplateEnvironmentOutput
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplateEnvironmentApiService.ApiTemplateEnvironmentsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/template_environments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.templateEnvironmentJsonhalTemplateEnvironmentInput == nil {
		return localVarReturnValue, nil, reportError("templateEnvironmentJsonhalTemplateEnvironmentInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/hal+json", "application/vnd.api+json", "application/json", "application/xml", "text/xml", "application/x-yaml", "text/csv", "text/html"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/hal+json", "application/vnd.api+json", "application/json", "application/xml", "text/xml", "application/x-yaml", "text/csv", "text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.templateEnvironmentJsonhalTemplateEnvironmentInput
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
